In [12]:
%matplotlib notebook
import sqlite3 as sql3
import pandas as pd
import matplotlib.pyplot as plt

mc_db_path = 'C:\Users\oswal\Documents\Data_Analyst_Work_Product_Folder\musicians_example.db'

conn = sql3.connect(mc_db_path)

# gET TABLE DATA:
mc_sql = """
SELECT *
FROM musician m
"""

pl_sql = """
SELECT *
FROM place
"""

composer_sql ="""
SELECT *
FROM composer
"""

compsition_sql = """
SELECT *
FROM composition
"""

performance_sql ="""
SELECT *
FROM performance
"""

hc_sql = """
SELECT *
FROM has_composed
"""

ct_sql ="""
SELECT *
FROM concert
"""


performer_sql ="""
SELECT *
FROM performer
"""

band_sql ="""
SELECT *
FROM band
"""

playsin_sql ="""
SELECT *
FROM plays_in
"""


mc_cursor = conn.execute(mc_sql)

mc_rows = mc_cursor.fetchall()

print(mc_rows)

# mc_df = pd.read_sql_query(mc_sql, conn)
# mc_cursor.description # gets column headers
mc_df1 = pd.DataFrame(mc_rows, columns=[x[0] for x in mc_cursor.description])

print(mc_df1)

conn.close()

[(1, u'Fred Bloggs', u'2/1/48', u'', 1, 2), (2, u'John Smith', u'3/3/50', u'', 3, 4), (3, u'Helen Smyth', u'8/8/48', u'', 4, 5), (4, u'Harriet Smithson', u'9/5/09', u'9/20/80', 5, 6), (5, u'James First', u'10/6/65', u'', 7, 7), (6, u'Theo Mengel', u'12/8/48', u'', 7, 1), (7, u'Sue Little', u'2/21/45', u'', 8, 9), (8, u'Harry Forte', u'2/28/51', u'', 1, 8), (9, u'Phil Hot', u'6/30/42', u'', 2, 7), (10, u'Jeff Dawn', u'12/12/45', u'', 3, 6), (11, u'Rose Spring', u'5/25/48', u'', 4, 5), (12, u'Davis Heavan', u'3/10/75', u'', 5, 4), (13, u'Lovely Time', u'12/28/48', u'', 6, 3), (14, u'Alan Fluff', u'1/15/35', u'5/15/97', 7, 2), (15, u'Tony Smythe', u'2/4/32', u'', 8, 1), (16, u'James Quick', u'8/8/24', u'', 9, 2), (17, u'Freda Miles', u'4/7/20', u'', 9, 3), (18, u'Elsie James', u'6/5/47', u'', 8, 5), (19, u'Andy Jones', u'8/10/58', u'', 7, 6), (20, u'Louise Simpson', u'10/1/48', u'2/11/98', 6, 6), (21, u'James Steeple', u'10/1/47', u'', 5, 6), (22, u'Steven Chaytors', u'11/3/56', u'', 6, 7)]
    musician_id     musician_name   born_on  died_on  born_in  living_in
0             1       Fred Bloggs    2/1/48                 1          2
1             2        John Smith    3/3/50                 3          4
2             3       Helen Smyth    8/8/48                 4          5
3             4  Harriet Smithson    9/5/09  9/20/80        5          6
4             5       James First   10/6/65                 7          7
5             6       Theo Mengel   12/8/48                 7          1
6             7        Sue Little   2/21/45                 8          9
7             8       Harry Forte   2/28/51                 1          8
8             9          Phil Hot   6/30/42                 2          7
9            10         Jeff Dawn  12/12/45                 3          6
10           11       Rose Spring   5/25/48                 4          5
11           12      Davis Heavan   3/10/75                 5          4
12           13       Lovely Time  12/28/48                 6          3
13           14        Alan Fluff   1/15/35  5/15/97        7          2
14           15       Tony Smythe    2/4/32                 8          1
15           16       James Quick    8/8/24                 9          2
16           17       Freda Miles    4/7/20                 9          3
17           18       Elsie James    6/5/47                 8          5
18           19        Andy Jones   8/10/58                 7          6
19           20    Louise Simpson   10/1/48  2/11/98        6          6
20           21     James Steeple   10/1/47                 5          6
21           22   Steven Chaytors   11/3/56                 6          7

In [6]:
import sqlalchemy as sqla

db = sqla.create_engine('sqlite:///'+ mc_db_path)

mc_df2 = pd.read_sql(mc_sql, db)

print(mc_df2)

    musician_id     musician_name   born_on  died_on  born_in  living_in
0             1       Fred Bloggs    2/1/48                 1          2
1             2        John Smith    3/3/50                 3          4
2             3       Helen Smyth    8/8/48                 4          5
3             4  Harriet Smithson    9/5/09  9/20/80        5          6
4             5       James First   10/6/65                 7          7
5             6       Theo Mengel   12/8/48                 7          1
6             7        Sue Little   2/21/45                 8          9
7             8       Harry Forte   2/28/51                 1          8
8             9          Phil Hot   6/30/42                 2          7
9            10         Jeff Dawn  12/12/45                 3          6
10           11       Rose Spring   5/25/48                 4          5
11           12      Davis Heavan   3/10/75                 5          4
12           13       Lovely Time  12/28/48                 6          3
13           14        Alan Fluff   1/15/35  5/15/97        7          2
14           15       Tony Smythe    2/4/32                 8          1
15           16       James Quick    8/8/24                 9          2
16           17       Freda Miles    4/7/20                 9          3
17           18       Elsie James    6/5/47                 8          5
18           19        Andy Jones   8/10/58                 7          6
19           20    Louise Simpson   10/1/48  2/11/98        6          6
20           21     James Steeple   10/1/47                 5          6
21           22   Steven Chaytors   11/3/56                 6          7

In [7]:
import numpy as np
# Convert '' to nulls values in mc_df2 DataFrame:
# print(mc_df2["died_on"] == '')

mc_df2["died_on"] = mc_df2["died_on"].replace('', np.nan)
print(mc_df2)

#print(mc_df2["died_on"].isnull())

    musician_id     musician_name   born_on  died_on  born_in  living_in
0             1       Fred Bloggs    2/1/48      NaN        1          2
1             2        John Smith    3/3/50      NaN        3          4
2             3       Helen Smyth    8/8/48      NaN        4          5
3             4  Harriet Smithson    9/5/09  9/20/80        5          6
4             5       James First   10/6/65      NaN        7          7
5             6       Theo Mengel   12/8/48      NaN        7          1
6             7        Sue Little   2/21/45      NaN        8          9
7             8       Harry Forte   2/28/51      NaN        1          8
8             9          Phil Hot   6/30/42      NaN        2          7
9            10         Jeff Dawn  12/12/45      NaN        3          6
10           11       Rose Spring   5/25/48      NaN        4          5
11           12      Davis Heavan   3/10/75      NaN        5          4
12           13       Lovely Time  12/28/48      NaN        6          3
13           14        Alan Fluff   1/15/35  5/15/97        7          2
14           15       Tony Smythe    2/4/32      NaN        8          1
15           16       James Quick    8/8/24      NaN        9          2
16           17       Freda Miles    4/7/20      NaN        9          3
17           18       Elsie James    6/5/47      NaN        8          5
18           19        Andy Jones   8/10/58      NaN        7          6
19           20    Louise Simpson   10/1/48  2/11/98        6          6
20           21     James Steeple   10/1/47      NaN        5          6
21           22   Steven Chaytors   11/3/56      NaN        6          7

In [14]:
# Most common instruments used by musicians born in place:
mpi_sql = '''
SELECT DISTINCT
p.instrument instrument_name,
pl.place_country,
pl.place_town,
m.musician_id,
m.musician_name
FROM performer p
JOIN musician m
    ON m.musician_id = p.performer_is
JOIN place pl
    ON pl.place_id = m.born_in
'''
# Craetes a DataFrame
mpi_df = pd.read_sql(mpi_sql, db)

type(mpi_df)
print(mpi_df)

   instrument_name place_country  place_town  musician_id     musician_name
0           violin       Austria    Salzburg            2        John Smith
1            viola       England  Birmingham            4  Harriet Smithson
2            banjo       England      London            6       Theo Mengel
3           violin       England  Manchester            8       Harry Forte
4           guitar       England  Birmingham           12      Davis Heavan
5           violin       England      London           14        Alan Fluff
6          trumpet   Netherlands   Amsterdam           16       James Quick
7            viola           USA     Chicago           18       Elsie James
8             bass      Scotland     Glasgow           20    Louise Simpson
9            flute       Austria    Salzburg            2        John Smith
10          cornet      Scotland     Glasgow           20    Louise Simpson
11          violin       England      London            6       Theo Mengel
12           drums       England  Manchester            8       Harry Forte
13          violin       Austria    Salzburg           10         Jeff Dawn
14           cello       England  Birmingham           12      Davis Heavan
15           viola       England      London           14        Alan Fluff
16           flute   Netherlands   Amsterdam           16       James Quick
17          guitar           USA     Chicago           18       Elsie James
18        trombone      Scotland     Glasgow           20    Louise Simpson
19            horn           USA    New York            3       Helen Smyth
20          violin       England      London            5       James First
21           cello           USA     Chicago            7        Sue Little
22            bass       Austria    Salzburg            2        John Smith
23          violin       England  Birmingham            4  Harriet Smithson
24           drums       England      London            6       Theo Mengel
25        clarinet       England  Manchester            8       Harry Forte
26            bass       Austria    Salzburg           10         Jeff Dawn
27           viola       England  Birmingham           12      Davis Heavan
28           cello           USA     Chicago           18       Elsie James

In [10]:
# Use [[]] if query for more than 1 column based on name
print(mpi_df[['instrument_name', 'place_country']][0:5])

  instrument_name place_country
0            bass       Austria
1          violin       Austria
2           flute       Austria
3           viola       England
4           cello       England

In [24]:
# Aggregations:

# Average: get average number of musicians who play the violoin
# Filter data by violin
violin = mpi_df[mpi_df['instrument_name'] == 'violin']
print(violin)

num_violinists = violin['musician_id'].count()
print(num_violinists)
print(mpi_df[mpi_df['instrument_name'] == 'violin'].mean())

   instrument_name place_country  place_town  musician_id     musician_name
0           violin       Austria    Salzburg            2        John Smith
3           violin       England  Manchester            8       Harry Forte
5           violin       England      London           14        Alan Fluff
11          violin       England      London            6       Theo Mengel
13          violin       Austria    Salzburg           10         Jeff Dawn
20          violin       England      London            5       James First
23          violin       England  Birmingham            4  Harriet Smithson
7
musician_id    7.0
dtype: float64